body {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
}

/* ********* NAVBAR START ******** */
header {
  border-bottom: 2px solid #bdbfbf;
}

nav.navbar {
  padding: 0 50px 0 50px;
  background-color: #777777 !important;
}

span.navbar-brand.h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 30px;
  color: #fcfffa;
  background-color: #fc9803;
  padding: 1rem;
  margin: -3;
}

a {
  font-size: 1.3rem;
}
a.nav-link::after {
  content: "|";
  padding-left: 10px;
}
a:hover {
  color: #fc9803 !important;
}

a.nav-link:last-child::after {
  display: none;
}

.active a {
  color: red !important;
}

/* ***** Letter Decoration For About Me ***** */
span.letterStyle {
  font-size: 2rem;
}

h2 {
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 2rem;
  color: #fc9803;
  padding-top: 10px;
}

hr {
  color: #777777;
  height: 5px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/* ******* CONTAINER  ******* */
.container {
  font-family: "Hepta Slab", serif;
  font-size: 0.9rem;
  border: 3px solid #bdbfbf;
  margin-top: 40px;
  max-width: 800px;
}

/* ******* Form Button ******* */
button.btn {
  background-color: #fc9803;
  border: none;
}

/* ********* Image for About Me  ******** */
img.bioPic {
  padding-bottom: 10px;
}

/* ******** Footer ******** */
.footer {
  position: relative;
  margin-top: 250px;
  text-align: center;
  background-color: #777777;
  height: 100px;
  padding-top: 30px;
  border-top: solid 5px #fc9803;
}

/* ****** Portfolio Start ******** */
.gallery {
  position: relative;
  text-align: center;
}

.imgText {
  background-color: #8c8b8b;
  width: 14rem;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
