/* ********* NAVBAR START ******** */
header {
    border: 1px solid black;
}
nav.navbar {
    padding:0 50px 0 50px;
}

span.navbar-brand.h1 {
    font-family: "Georgia", Times, Times New Roman, serif;
    font-size: 30px;
    color: blue;
    background-color: grey;
    padding: 1rem;
    margin: -3;
}

a.nav-link::after {
    content: "|";
    padding-left: 10px;
}

a.nav-link:last-child::after {
    display: none;
}

/* ******* CONTAINER  ******* */
.container  {
    border: 1px solid black;
    margin-top: 40px;
    max-width: 800px;
}

/* ********* IMAGE  ******** */
img.bioPic {
    padding-bottom: 10px;
}
